@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

/* Стилизация header'а */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.header__img {
  width: 164px;
  height: 50px;
}

.header__nav {
  align-items: center;
  display: flex;
  height: 50px;
  flex-direction: row;
}

.header__nav ul {
  margin-right: 40px;
  padding: 0;
  gap: 40px;
  display: flex;
}

.header__nav li {
  font-size: 18px;
  color: #27323f;
  font-weight: 600;
  list-style-type: none; /* Убираем маркеры со списка*/
  display: inline-block; /* Строчно-блочный элемент */
  cursor: pointer;
}

.header__nav__searchIcon {
  background-color: #b0b7c7;
  border-radius: 50%;
  height: 17px;
  width: 17px;
  padding: 9.5px;
  cursor: pointer;
}

/* стилизация верхнего новостного блока */

.newsBlock {
  background-image: url('/assets/images/newsBlock-background.png');
  height: 740px;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 180px;
}

.newsBlock__content {
  margin-left: 81px;
  display: flex;
  flex-direction: column;
  width: 869px;
}

.newsBlock__content__titleBlock {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  margin-bottom: 80px;
}

.newsBlock__content__titleBlock__img {
  height: 36px;
  width: 36px;
  margin-right: 17px;
}

.newsBlock__content__titleBlock__text {
  font-weight: 800;
  font-size: 24px;
  color: #ff9138;
  margin: 0;
  height: 33px;
}

.newsBlock__content__maintext {
  font-size: 55px;
  line-height: 66px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 30px;
  color: #002060;
}

.newsBlock__content__description {
  line-height: 32.2px;
  font-weight: 300;
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 30px;
  color: #27323f;
  position: relative;
  margin-left: 20px;
}

.newsBlock__content__description::before {
  content: '';
  display: block;
  position: absolute;
  left: -17px;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #ff7e25;
  border-radius: 30px;
}

.newsBlock__content__btn {
  width: 139px;
  height: 41px;
  border-radius: 40px;
  border: 1px solid #002060;
  color: #002060;
  padding: 8px, 20px, 8px, 20px;
  background-color: transparent;
  font-weight: 600;
  font-size: 18px;
  line-height: 24.51px;
  position: relative;
  padding-right: 40px;
  cursor: pointer;
}

.newsBlock__content__btn::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 20px; /* Располагаем стрелочку справа */
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url('/assets/images/arrow-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

/* стилизация первого блока (Услуги) */

.servicesBlock {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.servicesBlock__title {
  margin: 0;
  font-size: 96px;
  line-height: 130.73px;
  color: #002060;
  font-weight: 600;
}

.servicesBlock__container {
  display: flex;
  flex-direction: row;
  gap: 19px;
}

.servicesBlock__container__leftBlock {
  height: 574px;
  width: 574px;
  background-color: #f8f8f9;
  border-radius: 8px;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
}

.servicesBlock__container__leftBlock__img {
  height: 210px;
  width: 210px;
  margin-top: 100px;
  margin-left: 182px;
  margin-bottom: 70px;
}

.servicesBlock__container__leftBlock__title {
  margin: 0 0 0 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30.6px;
  color: #27323f;
}

.servicesBlock__container__leftBlock__description {
  margin: 20px 0 0 40px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25.2px;
  width: 500px;
  height: 100px;
  color: #27323f;
}

.servicesBlock__container__rightBlock {
  height: 574px;
  width: 574px;
  display: grid;
  grid-template-columns: repeat(2, 277px);
  grid-template-rows: repeat(2, 277px);
  gap: 20px;
}

.grid-item {
  background-color: #f8f8f9;
  width: 277px;
  height: 277px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
}

.grid-item__img {
  margin-top: 35px;
  height: 140px;
  width: 140px;
}

.grid-item__title {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 30.6px;
  width: 237px;
}

/* стилизация второго блока (Статьи) */

.articles {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articles__up-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 90px;
}

.articles__up-block__title {
  margin: 0;
  font-size: 96px;
  line-height: 130.73px;
  color: #002060;
  font-weight: 600;
}

.articles__container {
  display: flex;
  flex-direction: column;
}

.lr-buttons {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-left: 258px;
}

.lr-buttons__btn {
  height: 40px;
  width: 64px;
  border-radius: 40px;
  border: 2px solid var(--blue, #002060);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lr-buttons__btn img {
  height: 24px;
  width: 24px;
}

.item-block {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.item-block__item {
  width: 425px;
  height: 550px;
  background-color: rgb(228, 212, 212);
  position: relative;
}

.h-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
}

.h-head__img {
  width: 36px;
  height: 36px;
}

.h-head__title {
  color: #27323f;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0;
}

.container-line {
  height: 1px;
  width: 425px;
  background-color: #27323f;
  margin-top: 30px;
  margin-bottom: 30px;
}

.item-block__item__p {
  color: #27323f;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.item-block__item__desc {
  color: #27323f;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 25.2px;
}

.item-block__item__btn {
  width: 139px;
  height: 41px;
  border-radius: 40px;
  border: 1px solid #002060;
  color: #002060;
  padding: 8px, 20px, 8px, 20px;
  background-color: transparent;
  font-weight: 600;
  font-size: 18px;
  line-height: 24.51px;
  position: relative;
  padding-right: 40px;
  cursor: pointer;
}

.item-block__item__btn::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 20px; /* Располагаем стрелочку справа */
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url('/assets/images/arrow-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
