@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

/* Стилизация header'а */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.header__img {
  width: 164px;
  height: 50px;
}

.header__nav {
  align-items: center;
  display: flex;
  height: 50px;
  flex-direction: row;
}

.header__nav ul {
  margin-right: 40px;
  padding: 0;
  gap: 40px;
  display: flex;
}

.header__nav li {
  font-size: 18px;
  color: #27323f;
  font-weight: 600;
  list-style-type: none; /* Убираем маркеры со списка*/
  display: inline-block; /* Строчно-блочный элемент */
  cursor: pointer;
}

.header__nav__searchIcon {
  background-color: #b0b7c7;
  border-radius: 50%;
  height: 17px;
  width: 17px;
  padding: 9.5px;
  cursor: pointer;
}

/* стилизация верхнего новостного блока */

.newsBlock {
  background-image: url('/assets/images/newsBlock-background.png');
  height: 740px;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 180px;
}

.newsBlock__content {
  margin-left: 81px;
  display: flex;
  flex-direction: column;
  width: 869px;
}

.newsBlock__content__titleBlock {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  margin-bottom: 80px;
}

.newsBlock__content__titleBlock__img {
  height: 36px;
  width: 36px;
  margin-right: 17px;
}

.newsBlock__content__titleBlock__text {
  font-weight: 800;
  font-size: 24px;
  color: #ff9138;
  margin: 0;
  height: 33px;
}

.newsBlock__content__maintext {
  font-size: 55px;
  line-height: 66px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 30px;
  color: #002060;
}

.newsBlock__content__description {
  line-height: 32.2px;
  font-weight: 300;
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 30px;
  color: #27323f;
  position: relative;
  margin-left: 20px;
}

.newsBlock__content__description::before {
  content: '';
  display: block;
  position: absolute;
  left: -17px;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #ff7e25;
  border-radius: 30px;
}

.arrow-button {
  width: 139px;
  height: 41px;
  border-radius: 40px;
  border: 1px solid #002060;
  color: #002060;
  padding: 8px, 20px, 8px, 20px;
  background-color: transparent;
  font-weight: 600;
  font-size: 18px;
  line-height: 24.51px;
  position: relative;
  padding-right: 40px;
  cursor: pointer;
}

.arrow-button::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 20px; /* Располагаем стрелочку справа */
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url('/assets/images/arrow-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

/* стилизация первого блока (Услуги) */

.section {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-title {
  margin: 0;
  font-size: 96px;
  line-height: 130.73px;
  color: #002060;
  font-weight: 600;
}

.section__container {
  display: flex;
  flex-direction: row;
  gap: 19px;
}

.section__container__left-block {
  height: 574px;
  width: 574px;
  background-color: #f8f8f9;
  border-radius: 8px;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
}

.section__container__left-block__img {
  height: 210px;
  width: 210px;
  margin-top: 100px;
  margin-left: 182px;
  margin-bottom: 70px;
}

.section__container__left-block__title {
  margin: 0 0 0 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30.6px;
  color: #27323f;
}

.section__container__left-block__description {
  margin: 20px 0 0 40px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25.2px;
  width: 500px;
  height: 100px;
  color: #27323f;
}

.section__container__right-block {
  height: 574px;
  width: 574px;
  display: grid;
  grid-template-columns: repeat(2, 277px);
  grid-template-rows: repeat(2, 277px);
  gap: 20px;
}

.grid-item {
  background-color: #f8f8f9;
  width: 277px;
  height: 277px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
}

.grid-item__img {
  margin-top: 35px;
  height: 140px;
  width: 140px;
  flex-shrink: 0;
}

.grid-item__title {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 30.6px;
  width: 237px;
  color: #27323f;
}

/* стилизация второго блока (Статьи) */

.articles {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articles__up-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 90px;
}

.articles__up-block__title {
  margin: 0;
  font-size: 96px;
  line-height: 130.73px;
  color: #002060;
  font-weight: 600;
}

.articles__container {
  display: flex;
  flex-direction: column;
  margin-left: 583px;
  /* width: 1200px; */
  overflow-x: hidden;
}

.lr-buttons {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-left: 258px;
}

.lr-buttons__btn {
  height: 40px;
  width: 64px;
  border-radius: 40px;
  border: 2px solid var(--blue, #002060);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lr-buttons__btn img {
  height: 24px;
  width: 24px;
}

.item-block {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.item-block__item {
  width: 425px;
  height: 550px;
  position: relative;
}

.h-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
}

.h-head__img {
  width: 36px;
  height: 36px;
}

.h-head__title {
  color: #27323f;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0;
}

.container-line {
  height: 1px;
  width: 425px;
  background-color: #27323f;
  margin-top: 30px;
  margin-bottom: 30px;
}

.item-block__item__p {
  color: #27323f;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.item-block__item__desc {
  color: #27323f;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 25.2px;
}

/* стилизация третьего блока (решения) */

.double-grid-section {
  height: 574px;
  width: 574px;
  display: grid;
  grid-template-columns: repeat(1, 277px);
  grid-template-rows: repeat(1, 277px);
  gap: 20px;
}

.grid-double {
  background-color: #f8f8f9;
  width: 574px;
  height: 277px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
}

.grid-double__img {
  margin-top: 35px;
  height: 140px;
  width: 140px;
  flex-shrink: 0;
}

.grid-double__title {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 30.6px;
  width: 317px;
  text-align: center;
  color: #27323f;
  text-transform: uppercase;
}

/* стилизация четвертого блока (напишите нам) */

.grey-section {
  padding-left: 80px;
  padding-right: 80px;
  height: 335px;
  margin-bottom: 180px;
  display: flex;
  flex-direction: row;
  background-color: #f8f8f9;
  justify-content: space-between;
  align-items: center;
}

.grey-section__container {
  width: 1613px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.write-block {
  width: 722px;
  height: 175px;
  margin-right: 17px;
}

.write-block__p {
  align-self: stretch;
  color: #27323f;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.orange-button {
  width: 162px;
  height: 41px;
  border-radius: 40px;
  border: 0px solid;
  color: #fff;
  background-color: #ff7e25;
  padding: 8px, 20px, 8px, 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24.51px;
  position: relative;
  padding-right: 40px;
  cursor: pointer;
}

.orange-button::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url('/assets/images/containers/write-us/arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

/* стилизация пятого блока (Направления) */

.burger-blocks {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  min-width: 870px;
  gap: 60px;
}

.burger-blocks__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

.burger-blocks__item__h4 {
  margin: 0;
  color: #27323f;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.lr-orange-btn {
  height: 40px;
  width: 64px;
  border-radius: 40px;
  border: 2px solid var(--blue, #ff7e25);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lr-orange-btn img {
  height: 24px;
  width: 24px;
}

/* стилизация шестого блока (Принципы) */
.principles-left {
  width: 642px;
}

.principles-left__p {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #27323f;
  font-size: 18px;
  font-weight: 300;
  line-height: 32.4px;
  opacity: 0.8;
  align-self: stretch;
}

.more-blue-button {
  width: 175px;
  height: 41px;
  border-radius: 40px;
  border: 1px solid #002060;
  color: #002060;
  background-color: transparent;
  padding: 8px, 20px, 8px, 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24.51px;
  position: relative;
  padding-right: 40px;
  cursor: pointer;
}

.more-blue-button::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url('/assets/images/arrow-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.principles-right {
  width: 871px;
  display: grid;
  grid-template-columns: repeat(3, 277px);
  grid-template-rows: repeat(2, 277px);
  gap: 20px;
}

.principles-right__grid-item {
  object-fit: cover;
  width: 277px;
  height: 277px;
  border-radius: 8px;
  position: relative;
}

.principles-right__grid-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 277px;
  height: 277px;
  background-color: #ff7e25;
  opacity: 0.1;
  border-radius: 8px;
  z-index: 100;

  mix-blend-mode: multiply;
}

.principles-right__grid-item img {
  object-fit: cover;
  width: 277px;
  height: 277px;
  border-radius: 8px;
  position: relative;
  mix-blend-mode: multiply;
}

/* стилизация седьмого блока (Карьера) */

.more-orange-button {
  width: 175px;
  height: 41px;
  border-radius: 40px;
  border: 0px solid;
  color: #fff;
  background-color: #ff7e25;
  padding: 8px, 20px, 8px, 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24.51px;
  position: relative;
  padding-right: 40px;
  cursor: pointer;
}

.more-orange-button::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url('/assets/images/containers/write-us/arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

/* футер */

.footer {
  height: 372px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding-left: 80px;
  padding-right: 80px;
  /* padding-top: 60px; */
}

.footer-left {
  margin-top: 60px;
}

.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(176, 183, 199, 0.4);
}

.footer__img {
  width: 164px;
  height: 50px;
  flex-shrink: 0;
}

.footer__p-main {
  color: #b0b7c7;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
  margin-top: 50px;
}

.footer__p-subs {
  color: #b0b7c7;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 50px;
  margin-top: 0;
}

.footer__p-desc {
  color: #b0b7c7;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 73px;
}

.footer-right {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.footer-right__upblock {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 172px;
}

.footer-right__upblock img {
  height: 48px;
  width: 48px;
}
