/* Стилизация header'а */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}

.header__img {
  width: 164px;
  height: 50px;
  margin-top: 20px;
  margin-left: 80px;
}

.header__nav {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.header__nav ul {
  margin: 0;
  padding: 0;
  gap: 40px;
  display: flex;
}

.header__nav li {
  font-size: 18px;
  color: #27323f;
  font-weight: 600;
  list-style-type: none; /* Убираем маркеры со списка*/
  display: inline-block; /* Строчно-блочный элемент */
}

.header__nav__searchIcon {
  background-color: #b0b7c7;
  border-radius: 50%;
  height: 17px;
  width: 17px;
  padding: 9.5px;
}
